#Update for Complete Data

---

###Schema.txt

* **user_id**: long, user identify,
* **location**: string, the physical location where users employ mobile services,
* **start_time**: long, the UNIX start timestamp of certain user session,
* **session_duration**: long, the temporal duration of certain user session,
* **service_provider**: string, the service provider name,
* **service_category**: string, the service cateogiry classified via domain name,
* **service_domain**: string, the first level domain,
* **bytes**: long, the data sent in bytes of certain user session,
* **requests**: long, the number of individual HTTP requests of certain user session,

###toDb.py

In [17]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine 
import datetime as dt
from IPython.display import display

import plotly.plotly as py 

#plotly.tools.set_credentials_file(username='zedyang', 
#                                  api_key='dyytlcpib3', 
#                                  stream_ids=['436iwi32ro', 
#                                              'sd3b8v5ucf'])

from plotly.graph_objs import Bar, Scatter, Marker, Layout

In [2]:
display(pd.read_csv('net_traffic.csv', nrows=3).head())
display(pd.read_csv('net_traffic.csv', nrows=3).tail())

,11000752,东中院二区,1411439886390,14799,百度1,搜索导航,baidu.com,2182,2
0,11000752,东中院二区,1411442145178,203010,网易;百度1;谷歌广告1;126网易免费邮箱;谷歌分析;谷歌链接;谷歌搜索2;个性化谷歌广告...,门户;搜索导航;广告;电子邮箱;数码科技;搜索导航;搜索导航;广告;电子邮箱;门户,163.com;baidu.com;doubleclick.net;126.com;goog...,261571;172538;34719;33058;18386;12952;1668;142...,39;33;5;5;2;2;1;1;1;1
1,11000752,东中院三区,1411442842421,0,腾讯微信,即时通讯,qq.com,395,1
2,11000752,学生事务中心-铁生馆,1411443156277,6523,百度1,搜索导航,baidu.com,15887,2

,11000752,东中院二区,1411439886390,14799,百度1,搜索导航,baidu.com,2182,2
0,11000752,东中院二区,1411442145178,203010,网易;百度1;谷歌广告1;126网易免费邮箱;谷歌分析;谷歌链接;谷歌搜索2;个性化谷歌广告...,门户;搜索导航;广告;电子邮箱;数码科技;搜索导航;搜索导航;广告;电子邮箱;门户,163.com;baidu.com;doubleclick.net;126.com;goog...,261571;172538;34719;33058;18386;12952;1668;142...,39;33;5;5;2;2;1;1;1;1
1,11000752,东中院三区,1411442842421,0,腾讯微信,即时通讯,qq.com,395,1
2,11000752,学生事务中心-铁生馆,1411443156277,6523,百度1,搜索导航,baidu.com,15887,2

In [5]:
!wc -l < net_traffic.csv # Number of lines in dataset

 12736408

In [3]:
disk_engine = create_engine('sqlite:///net_traffic.db')

In [49]:
start = dt.datetime.now()
chunkfirst = 1
chunksize = 20000
j = 0
index_start = 1

for df in pd.read_csv('net_traffic.csv', chunksize=chunksize, 
                      iterator=True, encoding='utf-8'):
    
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) # Remove spaces from columns
    df.index += index_start
    df.columns=['ID','Location','Start','Duration','Provider',
                'Type','Domain','Size','Req']
        
    j+=1
    print '{} seconds: completed {} rows'.format((dt.datetime.now() - start).seconds, j*chunksize)

    df.to_sql('data', disk_engine, if_exists='append')
    index_start = df.index[-1] + 1

0 seconds: completed 20000 rows
1 seconds: completed 40000 rows
2 seconds: completed 60000 rows
3 seconds: completed 80000 rows
4 seconds: completed 100000 rows
5 seconds: completed 120000 rows
6 seconds: completed 140000 rows
7 seconds: completed 160000 rows
8 seconds: completed 180000 rows
9 seconds: completed 200000 rows
10 seconds: completed 220000 rows
11 seconds: completed 240000 rows
12 seconds: completed 260000 rows
13 seconds: completed 280000 rows
14 seconds: completed 300000 rows
15 seconds: completed 320000 rows
16 seconds: completed 340000 rows
18 seconds: completed 360000 rows
19 seconds: completed 380000 rows
20 seconds: completed 400000 rows
21 seconds: completed 420000 rows
22 seconds: completed 440000 rows
23 seconds: completed 460000 rows
24 seconds: completed 480000 rows
26 seconds: completed 500000 rows
27 seconds: completed 520000 rows
28 seconds: completed 540000 rows
29 seconds: completed 560000 rows
30 seconds: completed 580000 rows
31 seconds: completed 600000 rows
32 seconds: completed 620000 rows
33 seconds: completed 640000 rows
34 seconds: completed 660000 rows
36 seconds: completed 680000 rows
37 seconds: completed 700000 rows
38 seconds: completed 720000 rows
39 seconds: completed 740000 rows
40 seconds: completed 760000 rows
41 seconds: completed 780000 rows
42 seconds: completed 800000 rows
43 seconds: completed 820000 rows
44 seconds: completed 840000 rows
45 seconds: completed 860000 rows
46 seconds: completed 880000 rows
47 seconds: completed 900000 rows
48 seconds: completed 920000 rows
49 seconds: completed 940000 rows
51 seconds: completed 960000 rows
52 seconds: completed 980000 rows
53 seconds: completed 1000000 rows
54 seconds: completed 1020000 rows
55 seconds: completed 1040000 rows
56 seconds: completed 1060000 rows
57 seconds: completed 1080000 rows
58 seconds: completed 1100000 rows
59 seconds: completed 1120000 rows
60 seconds: completed 1140000 rows
61 seconds: completed 1160000 rows
62 seconds: completed 1180000 rows
63 seconds: completed 1200000 rows
64 seconds: completed 1220000 rows
65 seconds: completed 1240000 rows
66 seconds: completed 1260000 rows
67 seconds: completed 1280000 rows
68 seconds: completed 1300000 rows
69 seconds: completed 1320000 rows
70 seconds: completed 1340000 rows
71 seconds: completed 1360000 rows
72 seconds: completed 1380000 rows
73 seconds: completed 1400000 rows
74 seconds: completed 1420000 rows
75 seconds: completed 1440000 rows
77 seconds: completed 1460000 rows
78 seconds: completed 1480000 rows
79 seconds: completed 1500000 rows
80 seconds: completed 1520000 rows
81 seconds: completed 1540000 rows
82 seconds: completed 1560000 rows
83 seconds: completed 1580000 rows
85 seconds: completed 1600000 rows
86 seconds: completed 1620000 rows
87 seconds: completed 1640000 rows
88 seconds: completed 1660000 rows
89 seconds: completed 1680000 rows
90 seconds: completed 1700000 rows
91 seconds: completed 1720000 rows
92 seconds: completed 1740000 rows
93 seconds: completed 1760000 rows
94 seconds: completed 1780000 rows
95 seconds: completed 1800000 rows
97 seconds: completed 1820000 rows
98 seconds: completed 1840000 rows
99 seconds: completed 1860000 rows
100 seconds: completed 1880000 rows
101 seconds: completed 1900000 rows
102 seconds: completed 1920000 rows
103 seconds: completed 1940000 rows
104 seconds: completed 1960000 rows
105 seconds: completed 1980000 rows
106 seconds: completed 2000000 rows
107 seconds: completed 2020000 rows
108 seconds: completed 2040000 rows
109 seconds: completed 2060000 rows
110 seconds: completed 2080000 rows
111 seconds: completed 2100000 rows
112 seconds: completed 2120000 rows
113 seconds: completed 2140000 rows
114 seconds: completed 2160000 rows
115 seconds: completed 2180000 rows
116 seconds: completed 2200000 rows
117 seconds: completed 2220000 rows
118 seconds: completed 2240000 rows
119 seconds: completed 2260000 rows
120 seconds: completed 2280000 rows
121 seconds: completed 2300000 rows
123 seconds: completed 2320000 rows
124 seconds: completed 2340000 rows
125 seconds: completed 2360000 rows
126 seconds: completed 2380000 rows
127 seconds: completed 2400000 rows
128 seconds: completed 2420000 rows
130 seconds: completed 2440000 rows
131 seconds: completed 2460000 rows
132 seconds: completed 2480000 rows
134 seconds: completed 2500000 rows
135 seconds: completed 2520000 rows
136 seconds: completed 2540000 rows
137 seconds: completed 2560000 rows
138 seconds: completed 2580000 rows
139 seconds: completed 2600000 rows
140 seconds: completed 2620000 rows
141 seconds: completed 2640000 rows
142 seconds: completed 2660000 rows
143 seconds: completed 2680000 rows
144 seconds: completed 2700000 rows
145 seconds: completed 2720000 rows
146 seconds: completed 2740000 rows
147 seconds: completed 2760000 rows
148 seconds: completed 2780000 rows
149 seconds: completed 2800000 rows
150 seconds: completed 2820000 rows
151 seconds: completed 2840000 rows
152 seconds: completed 2860000 rows
153 seconds: completed 2880000 rows
154 seconds: completed 2900000 rows
155 seconds: completed 2920000 rows
156 seconds: completed 2940000 rows
157 seconds: completed 2960000 rows
158 seconds: completed 2980000 rows
159 seconds: completed 3000000 rows
160 seconds: completed 3020000 rows
161 seconds: completed 3040000 rows
162 seconds: completed 3060000 rows
163 seconds: completed 3080000 rows
164 seconds: completed 3100000 rows
165 seconds: completed 3120000 rows
167 seconds: completed 3140000 rows
168 seconds: completed 3160000 rows
169 seconds: completed 3180000 rows
170 seconds: completed 3200000 rows
171 seconds: completed 3220000 rows
172 seconds: completed 3240000 rows
173 seconds: completed 3260000 rows
173 seconds: completed 3280000 rows
174 seconds: completed 3300000 rows
175 seconds: completed 3320000 rows
176 seconds: completed 3340000 rows
177 seconds: completed 3360000 rows
179 seconds: completed 3380000 rows
180 seconds: completed 3400000 rows
181 seconds: completed 3420000 rows
182 seconds: completed 3440000 rows
183 seconds: completed 3460000 rows
185 seconds: completed 3480000 rows
186 seconds: completed 3500000 rows
187 seconds: completed 3520000 rows
188 seconds: completed 3540000 rows
189 seconds: completed 3560000 rows
191 seconds: completed 3580000 rows
192 seconds: completed 3600000 rows
193 seconds: completed 3620000 rows
194 seconds: completed 3640000 rows
195 seconds: completed 3660000 rows
196 seconds: completed 3680000 rows
197 seconds: completed 3700000 rows
199 seconds: completed 3720000 rows
200 seconds: completed 3740000 rows
201 seconds: completed 3760000 rows
202 seconds: completed 3780000 rows
203 seconds: completed 3800000 rows
204 seconds: completed 3820000 rows
205 seconds: completed 3840000 rows
207 seconds: completed 3860000 rows
208 seconds: completed 3880000 rows
209 seconds: completed 3900000 rows
210 seconds: completed 3920000 rows
211 seconds: completed 3940000 rows
212 seconds: completed 3960000 rows
213 seconds: completed 3980000 rows
214 seconds: completed 4000000 rows
216 seconds: completed 4020000 rows
217 seconds: completed 4040000 rows
218 seconds: completed 4060000 rows
219 seconds: completed 4080000 rows
220 seconds: completed 4100000 rows
221 seconds: completed 4120000 rows
222 seconds: completed 4140000 rows
223 seconds: completed 4160000 rows
224 seconds: completed 4180000 rows
225 seconds: completed 4200000 rows
226 seconds: completed 4220000 rows
227 seconds: completed 4240000 rows
228 seconds: completed 4260000 rows
229 seconds: completed 4280000 rows
230 seconds: completed 4300000 rows
231 seconds: completed 4320000 rows
233 seconds: completed 4340000 rows
234 seconds: completed 4360000 rows
235 seconds: completed 4380000 rows
236 seconds: completed 4400000 rows
237 seconds: completed 4420000 rows
238 seconds: completed 4440000 rows
239 seconds: completed 4460000 rows
240 seconds: completed 4480000 rows
241 seconds: completed 4500000 rows
243 seconds: completed 4520000 rows
244 seconds: completed 4540000 rows
245 seconds: completed 4560000 rows
246 seconds: completed 4580000 rows
247 seconds: completed 4600000 rows
249 seconds: completed 4620000 rows
250 seconds: completed 4640000 rows
251 seconds: completed 4660000 rows
252 seconds: completed 4680000 rows
253 seconds: completed 4700000 rows
254 seconds: completed 4720000 rows
255 seconds: completed 4740000 rows
256 seconds: completed 4760000 rows
257 seconds: completed 4780000 rows
258 seconds: completed 4800000 rows
259 seconds: completed 4820000 rows
261 seconds: completed 4840000 rows
262 seconds: completed 4860000 rows
262 seconds: completed 4880000 rows
263 seconds: completed 4900000 rows
264 seconds: completed 4920000 rows
265 seconds: completed 4940000 rows
266 seconds: completed 4960000 rows
267 seconds: completed 4980000 rows
268 seconds: completed 5000000 rows
270 seconds: completed 5020000 rows
271 seconds: completed 5040000 rows
272 seconds: completed 5060000 rows
273 seconds: completed 5080000 rows
274 seconds: completed 5100000 rows
275 seconds: completed 5120000 rows
276 seconds: completed 5140000 rows
277 seconds: completed 5160000 rows
278 seconds: completed 5180000 rows
279 seconds: completed 5200000 rows
280 seconds: completed 5220000 rows
281 seconds: completed 5240000 rows
282 seconds: completed 5260000 rows
283 seconds: completed 5280000 rows
284 seconds: completed 5300000 rows
285 seconds: completed 5320000 rows
286 seconds: completed 5340000 rows
287 seconds: completed 5360000 rows
288 seconds: completed 5380000 rows
289 seconds: completed 5400000 rows
290 seconds: completed 5420000 rows
291 seconds: completed 5440000 rows
292 seconds: completed 5460000 rows
294 seconds: completed 5480000 rows
295 seconds: completed 5500000 rows
296 seconds: completed 5520000 rows
297 seconds: completed 5540000 rows
298 seconds: completed 5560000 rows
299 seconds: completed 5580000 rows
300 seconds: completed 5600000 rows
301 seconds: completed 5620000 rows
302 seconds: completed 5640000 rows
304 seconds: completed 5660000 rows
305 seconds: completed 5680000 rows
306 seconds: completed 5700000 rows
307 seconds: completed 5720000 rows
308 seconds: completed 5740000 rows
309 seconds: completed 5760000 rows
310 seconds: completed 5780000 rows
311 seconds: completed 5800000 rows
313 seconds: completed 5820000 rows
314 seconds: completed 5840000 rows
315 seconds: completed 5860000 rows
316 seconds: completed 5880000 rows
318 seconds: completed 5900000 rows
319 seconds: completed 5920000 rows
320 seconds: completed 5940000 rows
321 seconds: completed 5960000 rows
322 seconds: completed 5980000 rows
323 seconds: completed 6000000 rows
324 seconds: completed 6020000 rows
325 seconds: completed 6040000 rows
326 seconds: completed 6060000 rows
327 seconds: completed 6080000 rows
328 seconds: completed 6100000 rows
329 seconds: completed 6120000 rows
330 seconds: completed 6140000 rows
331 seconds: completed 6160000 rows
332 seconds: completed 6180000 rows
333 seconds: completed 6200000 rows
334 seconds: completed 6220000 rows
335 seconds: completed 6240000 rows
336 seconds: completed 6260000 rows
337 seconds: completed 6280000 rows
338 seconds: completed 6300000 rows
339 seconds: completed 6320000 rows
340 seconds: completed 6340000 rows
341 seconds: completed 6360000 rows
342 seconds: completed 6380000 rows
343 seconds: completed 6400000 rows
344 seconds: completed 6420000 rows
345 seconds: completed 6440000 rows
346 seconds: completed 6460000 rows
347 seconds: completed 6480000 rows
348 seconds: completed 6500000 rows
349 seconds: completed 6520000 rows
350 seconds: completed 6540000 rows
351 seconds: completed 6560000 rows
352 seconds: completed 6580000 rows
353 seconds: completed 6600000 rows
354 seconds: completed 6620000 rows
355 seconds: completed 6640000 rows
356 seconds: completed 6660000 rows
357 seconds: completed 6680000 rows
358 seconds: completed 6700000 rows
359 seconds: completed 6720000 rows
360 seconds: completed 6740000 rows
361 seconds: completed 6760000 rows
362 seconds: completed 6780000 rows
363 seconds: completed 6800000 rows
364 seconds: completed 6820000 rows
365 seconds: completed 6840000 rows
366 seconds: completed 6860000 rows
367 seconds: completed 6880000 rows
368 seconds: completed 6900000 rows
369 seconds: completed 6920000 rows
370 seconds: completed 6940000 rows
371 seconds: completed 6960000 rows
372 seconds: completed 6980000 rows
373 seconds: completed 7000000 rows
374 seconds: completed 7020000 rows
375 seconds: completed 7040000 rows
376 seconds: completed 7060000 rows
377 seconds: completed 7080000 rows
378 seconds: completed 7100000 rows
379 seconds: completed 7120000 rows
380 seconds: completed 7140000 rows
381 seconds: completed 7160000 rows
382 seconds: completed 7180000 rows
383 seconds: completed 7200000 rows
384 seconds: completed 7220000 rows
385 seconds: completed 7240000 rows
385 seconds: completed 7260000 rows
386 seconds: completed 7280000 rows
388 seconds: completed 7300000 rows
388 seconds: completed 7320000 rows
389 seconds: completed 7340000 rows
390 seconds: completed 7360000 rows
391 seconds: completed 7380000 rows
392 seconds: completed 7400000 rows
393 seconds: completed 7420000 rows
394 seconds: completed 7440000 rows
395 seconds: completed 7460000 rows
396 seconds: completed 7480000 rows
397 seconds: completed 7500000 rows
398 seconds: completed 7520000 rows
399 seconds: completed 7540000 rows
400 seconds: completed 7560000 rows
401 seconds: completed 7580000 rows
402 seconds: completed 7600000 rows
403 seconds: completed 7620000 rows
404 seconds: completed 7640000 rows
405 seconds: completed 7660000 rows
406 seconds: completed 7680000 rows
407 seconds: completed 7700000 rows
408 seconds: completed 7720000 rows
409 seconds: completed 7740000 rows
410 seconds: completed 7760000 rows
411 seconds: completed 7780000 rows
412 seconds: completed 7800000 rows
413 seconds: completed 7820000 rows
414 seconds: completed 7840000 rows
415 seconds: completed 7860000 rows
416 seconds: completed 7880000 rows
417 seconds: completed 7900000 rows
418 seconds: completed 7920000 rows
419 seconds: completed 7940000 rows
420 seconds: completed 7960000 rows
421 seconds: completed 7980000 rows
422 seconds: completed 8000000 rows
423 seconds: completed 8020000 rows
424 seconds: completed 8040000 rows
425 seconds: completed 8060000 rows
426 seconds: completed 8080000 rows
427 seconds: completed 8100000 rows
428 seconds: completed 8120000 rows
429 seconds: completed 8140000 rows
430 seconds: completed 8160000 rows
431 seconds: completed 8180000 rows
432 seconds: completed 8200000 rows
433 seconds: completed 8220000 rows
434 seconds: completed 8240000 rows
435 seconds: completed 8260000 rows
436 seconds: completed 8280000 rows
437 seconds: completed 8300000 rows
438 seconds: completed 8320000 rows
439 seconds: completed 8340000 rows
440 seconds: completed 8360000 rows
441 seconds: completed 8380000 rows
442 seconds: completed 8400000 rows
443 seconds: completed 8420000 rows
444 seconds: completed 8440000 rows
445 seconds: completed 8460000 rows
446 seconds: completed 8480000 rows
447 seconds: completed 8500000 rows
448 seconds: completed 8520000 rows
449 seconds: completed 8540000 rows
450 seconds: completed 8560000 rows
451 seconds: completed 8580000 rows
452 seconds: completed 8600000 rows
453 seconds: completed 8620000 rows
454 seconds: completed 8640000 rows
455 seconds: completed 8660000 rows
456 seconds: completed 8680000 rows
457 seconds: completed 8700000 rows
458 seconds: completed 8720000 rows
459 seconds: completed 8740000 rows
460 seconds: completed 8760000 rows
461 seconds: completed 8780000 rows
462 seconds: completed 8800000 rows
463 seconds: completed 8820000 rows
464 seconds: completed 8840000 rows
465 seconds: completed 8860000 rows
466 seconds: completed 8880000 rows
467 seconds: completed 8900000 rows
467 seconds: completed 8920000 rows
468 seconds: completed 8940000 rows
469 seconds: completed 8960000 rows
470 seconds: completed 8980000 rows
472 seconds: completed 9000000 rows
473 seconds: completed 9020000 rows
474 seconds: completed 9040000 rows
475 seconds: completed 9060000 rows
475 seconds: completed 9080000 rows
477 seconds: completed 9100000 rows
478 seconds: completed 9120000 rows
479 seconds: completed 9140000 rows
480 seconds: completed 9160000 rows
480 seconds: completed 9180000 rows
481 seconds: completed 9200000 rows
482 seconds: completed 9220000 rows
483 seconds: completed 9240000 rows
484 seconds: completed 9260000 rows
485 seconds: completed 9280000 rows
486 seconds: completed 9300000 rows
487 seconds: completed 9320000 rows
488 seconds: completed 9340000 rows
489 seconds: completed 9360000 rows
490 seconds: completed 9380000 rows
491 seconds: completed 9400000 rows
492 seconds: completed 9420000 rows
493 seconds: completed 9440000 rows
494 seconds: completed 9460000 rows
495 seconds: completed 9480000 rows
496 seconds: completed 9500000 rows
497 seconds: completed 9520000 rows
498 seconds: completed 9540000 rows
499 seconds: completed 9560000 rows
501 seconds: completed 9580000 rows
502 seconds: completed 9600000 rows
503 seconds: completed 9620000 rows
504 seconds: completed 9640000 rows
505 seconds: completed 9660000 rows
507 seconds: completed 9680000 rows
508 seconds: completed 9700000 rows
510 seconds: completed 9720000 rows
511 seconds: completed 9740000 rows
512 seconds: completed 9760000 rows
514 seconds: completed 9780000 rows
515 seconds: completed 9800000 rows
516 seconds: completed 9820000 rows
518 seconds: completed 9840000 rows
519 seconds: completed 9860000 rows
521 seconds: completed 9880000 rows
522 seconds: completed 9900000 rows
523 seconds: completed 9920000 rows
524 seconds: completed 9940000 rows
525 seconds: completed 9960000 rows
526 seconds: completed 9980000 rows
527 seconds: completed 10000000 rows
528 seconds: completed 10020000 rows
529 seconds: completed 10040000 rows
530 seconds: completed 10060000 rows
531 seconds: completed 10080000 rows
533 seconds: completed 10100000 rows
534 seconds: completed 10120000 rows
535 seconds: completed 10140000 rows
536 seconds: completed 10160000 rows
537 seconds: completed 10180000 rows
538 seconds: completed 10200000 rows
539 seconds: completed 10220000 rows
540 seconds: completed 10240000 rows
542 seconds: completed 10260000 rows
543 seconds: completed 10280000 rows
544 seconds: completed 10300000 rows
545 seconds: completed 10320000 rows
546 seconds: completed 10340000 rows
547 seconds: completed 10360000 rows
548 seconds: completed 10380000 rows
549 seconds: completed 10400000 rows
550 seconds: completed 10420000 rows
551 seconds: completed 10440000 rows
552 seconds: completed 10460000 rows
553 seconds: completed 10480000 rows
554 seconds: completed 10500000 rows
555 seconds: completed 10520000 rows
556 seconds: completed 10540000 rows
557 seconds: completed 10560000 rows
558 seconds: completed 10580000 rows
559 seconds: completed 10600000 rows
560 seconds: completed 10620000 rows
561 seconds: completed 10640000 rows
562 seconds: completed 10660000 rows
564 seconds: completed 10680000 rows
565 seconds: completed 10700000 rows
566 seconds: completed 10720000 rows
567 seconds: completed 10740000 rows
568 seconds: completed 10760000 rows
569 seconds: completed 10780000 rows
570 seconds: completed 10800000 rows
571 seconds: completed 10820000 rows
572 seconds: completed 10840000 rows
574 seconds: completed 10860000 rows
575 seconds: completed 10880000 rows
577 seconds: completed 10900000 rows
578 seconds: completed 10920000 rows
579 seconds: completed 10940000 rows
580 seconds: completed 10960000 rows
582 seconds: completed 10980000 rows
583 seconds: completed 11000000 rows
584 seconds: completed 11020000 rows
585 seconds: completed 11040000 rows
586 seconds: completed 11060000 rows
588 seconds: completed 11080000 rows
589 seconds: completed 11100000 rows
590 seconds: completed 11120000 rows
591 seconds: completed 11140000 rows
592 seconds: completed 11160000 rows

###summaryData.py

In [4]:
df = pd.read_sql_query('SELECT * FROM data LIMIT 3', disk_engine)
df.head()

,index,ID,Location,Start,Duration,Provider,Type,Domain,Size,Req
0,1,11000752,东中院二区,1411442145178,203010,网易;百度1;谷歌广告1;126网易免费邮箱;谷歌分析;谷歌链接;谷歌搜索2;个性化谷歌广告...,门户;搜索导航;广告;电子邮箱;数码科技;搜索导航;搜索导航;广告;电子邮箱;门户,163.com;baidu.com;doubleclick.net;126.com;goog...,261571;172538;34719;33058;18386;12952;1668;142...,39;33;5;5;2;2;1;1;1;1
1,2,11000752,东中院三区,1411442842421,0,腾讯微信,即时通讯,qq.com,395,1
2,3,11000752,学生事务中心-铁生馆,1411443156277,6523,百度1,搜索导航,baidu.com,15887,2

In [51]:
df = pd.read_sql_query('SELECT ID, Location, Start, Duration '
                       'FROM data '
                       'LIMIT 10', disk_engine)
df

         ID    Location          Start  Duration
0  11000752       东中院二区  1411442145178    203010
1  11000752       东中院三区  1411442842421         0
2  11000752  学生事务中心-铁生馆  1411443156277      6523
3  11000752       学生宿舍W  1411573440149        55
4  11000752       东中院二区  1411956941699    335969
5  11000752       东中院二区  1411957618285    301945
6  11000752  媒体与设计实验室B楼  1413176420667   3230202
7  11000752  媒体与设计实验室B楼  1413180046636   1296008
8  11000752       东中院二区  1413249030600    128279
9  11000752       东中院二区  1413249824366       938

In [5]:
df = pd.read_sql_query('SELECT * '
                       'FROM data '
                       'WHERE Location IN ("东上院")'
                       'LIMIT 10', disk_engine)
df.head()

,index,ID,Location,Start,Duration,Provider,Type,Domain,Size,Req
0,43,11000752,东上院,1415180195500,29395,百度1,搜索导航,baidu.com,2716,4
1,399,11001313,东上院,1420518847989,383,苹果官网1,网上购物,apple.com,7267,1
2,490,11003224,东上院,1415790139482,19158,淘宝网,网上购物,taobao.com,2850,2
3,491,11003224,东上院,1415792211375,4933,淘宝网,网上购物,taobao.com,2838,2
4,492,11003224,东上院,1415793963753,617121,腾讯微信;淘宝网,即时通讯;网上购物,qq.com;taobao.com,13898;2842,7;2

In [53]:
df = pd.read_sql_query('SELECT * '
                       'FROM data '
                       'WHERE ID IN ("11000752")'
                       'LIMIT 10', disk_engine)
df.head()

,index,ID,Location,Start,Duration,Provider,Type,Domain,Size,Req
0,1,11000752,东中院二区,1411442145178,203010,网易;百度1;谷歌广告1;126网易免费邮箱;谷歌分析;谷歌链接;谷歌搜索2;个性化谷歌广告...,门户;搜索导航;广告;电子邮箱;数码科技;搜索导航;搜索导航;广告;电子邮箱;门户,163.com;baidu.com;doubleclick.net;126.com;goog...,261571;172538;34719;33058;18386;12952;1668;142...,39;33;5;5;2;2;1;1;1;1
1,2,11000752,东中院三区,1411442842421,0,腾讯微信,即时通讯,qq.com,395,1
2,3,11000752,学生事务中心-铁生馆,1411443156277,6523,百度1,搜索导航,baidu.com,15887,2
3,4,11000752,学生宿舍W,1411573440149,55,腾讯微信,即时通讯,qq.com,1150,1
4,5,11000752,东中院二区,1411956941699,335969,百度1;携程;携程;谷歌搜索2;谷歌分析;腾讯微信;谷歌广告1,搜索导航;旅游;旅游;搜索导航;数码科技;即时通讯;广告,baidu.com;c-ctrip.com;ctrip.com;google.com.hk;...,248455;132759;107146;13408;12705;3533;2260,88;29;13;13;3;3;2

In [8]:
df = pd.read_sql_query('SELECT DISTINCT Location FROM data', disk_engine)
df.head()
df.tail()

   Location
93  电信群楼5号楼
94    电话总机房
95    法华1号楼
96    法华4号楼
97   七宝网络中心

In [7]:
df

          Location
0            东中院二区
1            东中院三区
2       学生事务中心-铁生馆
3            学生宿舍W
4       媒体与设计实验室B楼
5          电信群楼1号楼
6              棒球场
7            逸夫科技楼
8             第一食堂
9              东上院
10           陈瑞球北楼
11             东下院
12       分析测试中心2号楼
13           校医院北楼
14           校医院南楼
15        工程力学实验中心
16            材料A楼
17           学生宿舍D
18            第四食堂
19          药学楼4号楼
20           图书馆四区
21            第三食堂
22             基建处
23            学生宿舍
24       新体育馆-近沧源路
25             光彪楼
26             菁菁堂
27          药学楼1号楼
28            第二食堂
29        西南体育馆-南体
..             ...
68         电信群楼3号楼
69  机械与动力工程学院A楼－附楼
70             图书馆
71  机械与动力工程学院A楼－主楼
72  机械与动力工程学院B楼－南楼
73  机械与动力工程学院B楼－东楼
74          木兰学院北楼
75           陈瑞球南楼
76           凯原法学院
77          药学楼2号楼
78           徐汇工程馆
79         法华安泰综合楼
80           徐汇新建楼
81          徐汇总办公厅
82           徐汇法学楼
83  机械与动力工程学院B楼－北楼
84           中意能源楼
85  机械与动力工程学院C楼－附楼
86            徐汇中院
87            法华南楼
88            法华北楼
89           法华3号楼
90          法华10号楼
91            能源材料
92         燃料电池研究所
93         电信群楼5号楼
94           电话总机房
95           法华1号楼
96           法华4号楼
97          七宝网络中心

[98 rows x 1 columns]

In [9]:
df = pd.read_sql_query('SELECT Location, COUNT(*) as `count_login`'
                       'FROM data '
                       'GROUP BY Location ', disk_engine)

df.head()

  Location  count_login
0     null       358556
1   七宝网络中心          245
2      东上院       766678
3      东下院       870668
4    东中院一区       269822

In [19]:
df = pd.read_sql_query('SELECT Location, COUNT(*) as `num_connection`'
                       'FROM data '
                       'GROUP BY Location '
                       'ORDER BY -num_connection', disk_engine)

countByLocation_All = df
df = df[:20]
countByLocation_20 = df
df

          Location  num_connection
0              东下院          870668
1              东上院          766678
2             第二食堂          755220
3            徐汇新上院          753400
4            徐汇工程馆          535833
5            东中院二区          467882
6            陈瑞球北楼          417893
7            东中院四区          407189
8            东中院三区          406937
9             null          358556
10            第三食堂          357211
11             光彪楼          334976
12          木兰学院北楼          320219
13  机械与动力工程学院C楼－附楼          272956
14           东中院一区          269822
15            第一食堂          265950
16           徐汇法学楼          239606
17        工程力学实验中心          203557
18  机械与动力工程学院B楼－东楼          185763
19           逸夫科技楼          178076

####Count By Location
Top 45 Places to connect Wifi.

In [20]:
countByLocation_45 = countByLocation_All[:45]

py.iplot({
    'data': [Bar(x=countByLocation_45['Location'], 
                 y=countByLocation_45.num_connection)],
    'layout': { 
        'margin': {'b': 160}, 
        'xaxis': {'tickangle': 35}} })

####Count By Person
Top 45 students connecting to Wifi most heavily

In [42]:
df = pd.read_sql_query('SELECT ID, COUNT(*) as `num_connection`'
                       'FROM data '
                       'GROUP BY ID '
                       'ORDER BY -num_connection', disk_engine)
df[['ID']]=df[['ID']].astype(object)
countByPerson_All = df
df = df[:45]
countByPerson_45 = df
df

          ID  num_connection
0   32122246           54081
1   19139158           40990
2   93172608           28748
3   61183609           18001
4   13140686           17694
5   35182544           12944
6   25160067           11216
7   23109382            9762
8   61129214            9755
9   63165440            8802
10  24121903            7912
11  76128305            7073
12  21140991            7011
13  15162747            6818
14  92143592            6487
15  94161265            6434
16  47177608            6201
17  84109396            6176
18  36121037            6099
19  24121089            6060
20  61126245            5988
21  68163112            5926
22  23122939            5818
23  61180504            5674
24  23122002            5645
25  28159577            5500
26  89124094            5467
27  21121786            5439
28  19149874            5358
29  92160198            5338
30  13182937            5317
31  34134813            5282
32  54165722            5127
33  38184013            5090
34  49124078            5008
35  58174150            4968
36  78164958            4935
37  35179050            4894
38  38118891            4894
39  12118854            4880
40  27122622            4864
41  29164437            4801
42  56148918            4801
43  98161629            4694
44  89148709            4643

In [44]:
countByPerson_45[['ID']]=countByPerson_45[['ID']].astype(str)
countByPerson_45['ID']='ind_'+countByPerson_45['ID'] #converting bug...
py.iplot({
    'data': [Bar(x=countByPerson_45['ID'], 
    			 y=countByPerson_45.num_connection)],
    'layout': { 
        'margin': {'b': 160}, 
        'xaxis': {'tickangle': 35}} })

（前面那几个几十万的好叼。。